[submodule "mqtt-client-sub"]
	path = mqtt-client-sub
	url = https://github.com/ABD-01/quantum-harmony
	branch = mqtt-client-sub
[submodule "server-fota-crc-multithreading"]
	path = server-fota-crc-multithreading
	url = https://github.com/ABD-01/quantum-harmony
	branch = server-fota-crc-multithreading
[submodule "tcu-2g-service-tool-dealer"]
	path = tcu-2g-service-tool-dealer
	url = https://github.com/ABD-01/quantum-harmony.git
	branch = tcu-2g-service-tool-dealer
[submodule "network-library-bumblenet"]
	path = network-library-bumblenet
	url = https://github.com/ABD-01/quantum-harmony
	branch = network-library-bumblenet
[submodule "data-structures-algorithms"]
	path = data-structures-algorithms
	url = https://github.com/ABD-01/quantum-harmony.git
	branch = DSA
[submodule "cmake-build-embedded"]
	path = cmake-build-embedded
	url = https://github.com/ABD-01/quantum-harmony.git
	branch = cmake-for-mc25
